<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateando | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" media="all">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/LOGO-footer.webp') }}"
        type="image/x-icon">
</head>

<body>
    {% include "loader.html" %}
    <header>
        <div class="logo" aria-label="Logo Mateando">Mateando</div>
        <div class="header-buttons">
            
            <button class="modo-oscuro" onclick="toggleDarkMode()">Modo Oscuro</button>
            <form action="/logout"><button class="cerrar-sesion">Cerrar Sesión</button></form>
        </div>
    </header>

    <main>
        <h1>Bienvenido, Admin</h1>

        <div class="dashboard-grid">
            
            <div class="dashboard-card">
                <h2>Editar Producto</h2>
                <form id="agregar-producto-form" method="post" action="/editarProducto/{{ producto.id_Producto }}">
                    <div>
                        <label for="nombre">Nombre del Producto:</label>
                        <input type="text" id="nombre" name="nombre" value="{{ producto.nombre }}" required>
                        <div class="error" id="errorNombre"></div>
                    </div>
                    <div>
                        <label for="categoria">Categoría:</label>
                        <select id="categoria" name="categoria" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="1">Set matero</option>
                            <option value="2">Mate</option>
                            <option value="3">Bombilla</option>
                            <option value="4">Termo</option>
                            <option value="5">Yerba</option>
                        </select>
                        <div class="error" id="errorCategoria"></div>
                    </div>
                    <div>
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" name="precio" step="0.01" value="{{ producto.precio }}" required>
                        <div class="error" id="errorPrecio"></div>
                    </div>
                    <div>
                        <label for="image_url">URL de la Imagen:</label>
                        <input type="url" id="image_url" name="image_url" value="{{ producto.image_url }}" >
                    </div>
                    
                    <input type="submit" value="Editar Producto">
                </form>
                <a href="{{ url_for('admin_bp.dashboard') }}" id="volverBtn">⬅️ Volver</a>
            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>

</html>