{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="carrusel" role="region" aria-label="Galería de imágenes">
    <div class="carrusel-imagenes">
      <img src="{{ url_for('static', filename='img/banner/mate.jpg') }}" alt="Chica con mate de algarrobo" />
      <img src="{{ url_for('static', filename='img/banner/mate2.webp') }}" alt="Chica con mate imperial" />
      <img src="{{ url_for('static', filename='img/banner/mate.jpg') }}" alt="Chica con mate de algarrobo" />
    </div>
    <button class="prev" onclick="mover(-1)" aria-label="Pasar imagen">
      &#10094;
    </button>
    <button class="next" onclick="mover(1)" aria-label="Volver imagen">
      &#10095;
    </button>
  </div>

  <div id="productos">
    {% for producto in productos %}
    <div class="producto">
      <div class="imagen-producto">
        <img src="{{ producto.image_url }}" alt="Foto Producto" />
      </div>
      <div class="info-productos">
        <span class="nombre-producto"><strong class="unid-producto">{{ producto.nombre.title() }}</strong></span>
        <span class="precio">{{ producto.precio }}</span>

        <div class="acciones">
          <form action="/agregaCarrito/{{producto.id_Producto}}" class="acciones" method="POST">
            <button class="btn agregar-carrito">Agregar al carrito</button>
          </form>
          <!-- <button class="btn comprar">Comprar</button> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="ver-mas">
    <a href="{{ url_for('public_bp.productos') }}" class="btn ver-mas-btn">Ver más</a>
  </div>

</div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
{% endblock %}