{% extends 'base.html' %} {% block content %}
<section id="matetips">
    <div class="matetips-header">
        <h2>Matetips</h2>
        <p>Consejos para los fanáticos del mate</p>
    </div>
    <div class="matetips-tips">
        <div class="tip">
            <div class="tip-icon">
                <i class="fas fa-leaf"></i>
            </div>
            <h3>1. Elige bien tu yerba</h3>
            <p>
                No todas las yerbas son iguales. Prueba diferentes marcas y mezclas para
                descubrir la que mejor se adapte a tu gusto.
            </p>
        </div>
        <div class="tip">
            <div class="tip-icon">
                <i class="fas fa-temperature-high"></i>
            </div>
            <h3>2. La temperatura del agua es clave</h3>
            <p>
                El agua debe estar entre 70-80°C. Si está demasiado caliente, quema la
                yerba; si está fría, el mate se vuelve soso.
            </p>
        </div>
        <div class="tip">
            <div class="tip-icon">
                <i class="fas fa-clock"></i>
              </div>
            <h3>3. El mate es un ritual</h3>
            <p>
                Tomarse el tiempo para preparar y disfrutar un mate es fundamental.
                ¡Relájate y disfrútalo!
            </p>
        </div>
        <div class="tip">
            <div class="tip-icon">
                <i class="fas fa-brush"></i>
              </div>
            <h3>4. Mantenimiento de tu equipo</h3>
            <p>
                Limpia bien tu mate y bombilla después de cada uso para evitar sabores
                desagradables y prolongar su vida útil.
            </p>
        </div>
    </div>
</section>

{% endblock %}