<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateando | Tienda Online</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/LOGO-footer.webp') }}" type="image/x-icon">
    
    {% block css %}
      
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  {% include "loader.html" %}
    <header>
        <div class="logo-header">
          <a href="/">
            <img
              src="{{ url_for('static', filename='img/LOGO-header.webp') }}"
              alt="Logo de Mateando"
              loading="lazy"
            />
          </a>
        </div>
  
        <div class="buscador">
          <form method="get" action="/buscar" class="buscador">
            <input type="text" name="search" id="search" aria-label="Buscar en el sitio" placeholder="Buscar..." />
            <button type="submit" id="buscador" aria-label="Iniciar búsqueda">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
  
        <div class="carrito">
          <a href="{{ url_for('user_bp.carrito') }}" class="btn-carrito" title="Ver carrito" aria-label="Ver carrito">
            <i class="fa-solid fa-bag-shopping"></i>
            <span class="compra" id="carrito-compras"></span>
          </a>
          <a href="{% if current_user.es_admin %}{{ url_for('admin_bp.dashboard') }}{% else %}{{ url_for('user_bp.miPerfil') }}{% endif %}" class="usuario" title="Iniciar sesión" aria-label="Iniciar sesión">
            <i class="fa-solid fa-user"></i>
            <span id="iniciarSesion">
            {% if current_user.is_authenticated %}
              {{ current_user.nombre.capitalize() }}
            {% else %}
              Iniciar<br>Sesión
            {% endif %}</span>
          </a>
          {% if current_user.is_authenticated %}
            <form action="/logout" id="logout"><button class="cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i></button></form>
          {% endif %}
        </div>
        
      </header>

      <nav>
      
        <ul>
          <li><a href="/">Inicio</a></li>
  
          <li><a href="{{ url_for('public_bp.productos') }}">Productos</a>
              <ul>
                  <li><a href="{{ url_for('public_bp.productosCat', id_cat=2) }}">Mates</a></li>
                  <li><a href="{{ url_for('public_bp.productosCat', id_cat=4) }}">Termos</a></li>
                  <li><a href="{{ url_for('public_bp.productosCat', id_cat=3) }}">Bombillas</a></li>
                  <li><a href="{{ url_for('public_bp.productosCat', id_cat=1) }}">Set matero</a></li>
                  <li><a href="{{ url_for('public_bp.productosCat', id_cat=5) }}">Yerba</a></li>
              </ul>
          </li>
  
          <li><a href="{{ url_for('public_bp.mateTips') }}">Matetips</a></li>
          <li><a href="{{ url_for('public_bp.quienesSomos') }}">Quienes Somos</a></li>
          <li><a href="{{ url_for('public_bp.faq') }}">FAQ</a></li>
          <li><a href="{{ url_for('mail_bp.contacto') }}">Contacto</a></li>
        </ul>
      </nav>
  
      <div class="menu-mobile">
          <div class="contain-menu">
              <div class="carrito-mobile">
                <a href="{{ url_for('user_bp.carrito') }}" class="btn-carrito" title="Ver carrito">
                  <span class="compra" id="carrito-compras"></span>
                  <i class="fa-solid fa-bag-shopping" style="color: white"></i>
                </a>
                <a href="{% if current_user.es_admin %}{{ url_for('admin_bp.dashboard') }}{% else %}{{ url_for('user_bp.miPerfil') }}{% endif %}" class="usuario" title="Iniciar sesión" aria-label="Iniciar sesión">
                  <i class="fa-solid fa-user"></i>
                  <span id="iniciarSesion">
                  {% if current_user.is_authenticated %}
                    {{ current_user.nombre.capitalize() }}
                  {% else %}
                    Iniciar<br>Sesión
                  {% endif %}</span>
                </a>
                {% if current_user.is_authenticated %}
                  <form action="/logout" id="logout"><button class="cerrar-sesion"><i class="fa-solid fa-right-from-bracket"></i></button></form>
                {% endif %}
              </div>
            </div>
  
          <input type="checkbox" name="menu-btn" id="menu-btn" class="menu-btn">
          <label for="menu-btn" class="menu-btn-label" aria-label="Abrir menú de navegación"></label>
      </div>
      
      <div class="mobile">
          <div class="content-menu-mob">
              <ul class="menu-list-mob">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="{{ url_for('public_bp.productos') }}">Productos</a></li>
                  <li><a href="{{ url_for('public_bp.mateTips') }}">Matetips</a></li>
                  <li><a href="{{ url_for('public_bp.quienesSomos') }}">Quienes Somos</a></li>
                  <li><a href="{{ url_for('public_bp.faq') }}">FAQ</a></li>
                  <li><a href="{{ url_for('mail_bp.contacto') }}">Contacto</a></li>
                  <li><a href="/">X</a></li>
                </ul>
  
          </div>
      </div>

    {% block content %}
        
    {% endblock %}


    <footer>
      <div class="pago">
        <p>Medios de Pago</p>
        <div class="iconos-footer">
            <img src="{{ url_for('static', filename='img/icono-medio-pago/efectivo.png') }}" alt="Efectivo" class="medio-pago">
            <img src="{{ url_for('static', filename='img/icono-medio-pago/mastercard.png') }}" alt="Mastercard" class="medio-pago">
            <img src="{{ url_for('static', filename='img/icono-medio-pago/visa.png') }}" alt="Visa" class="medio-pago">
            <img src="{{ url_for('static', filename='img/icono-medio-pago/mercadopago.png') }}" alt="Mercadopago" class="medio-pago">
        </div>
    </div>

        <div class="redes">
          <p>Redes Sociales</p>
          <div class="iconos-footer icons">
              <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="http://tiktok.com" target="_blank" rel="noopener noreferrer">
                  <i class="fa-brands fa-tiktok"></i>
              </a>
          </div>
      </div>

        <div class="contacto">
            <div class="img-logo">
                <img src="{{ url_for('static', filename='img/LOGO-footer.webp') }}" alt="LOGO mateando footer">
            </div>
            <div class="info-contacto">
                <span><a href="mailto:mateando@example.com">mateando@example.com</a></span>
                <span><a href="https://maps.app.goo.gl/1G8EwPwC1Tm632zp7" target="_blank">Calle Cordoba 1234</a></span>
                <span>Rosario, Santa Fe.</span>
            </div>
        </div>

        
    </footer>

    <div class="final">
        <span>Creado con 💖 por Grupo 2.</span>
    </div>

    <div class="back-to-top">
      <button onclick="topFunction()" id="myBtn" title="Ir al tope" aria-label="Ir al tope">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/menu-mobile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contarProducto.js') }}"></script>

    {% block script %}
      <script src="{{ url_for('static', filename='js/filtraBuscador.js') }}"></script>
    {% endblock %}
</body>
</html>